<!DOCTYPE html>
<html>
<head>
    <title>product add</title>
    <style>
        h3 {text-align: right;}
    </style>
</head>
<body>
      <h3><a href="/admin">Back</a>|<a href="/logout">Logout</a></h3>
    <form method="post">
      <center>
        <fieldset>
            <legend><h2>Add new product </h2></legend>
            <table>
              <tr>
                <td>Product name</td>
                <td><input type="text" name="name"></td>
              </tr>
              <tr>
                <td>Product Quantity</td>
                <td><input type="text" name="quantity"></td>
              </tr>
              <tr>
                <td>product price</td>
                <td><input type="text" name="price"></td>
              </tr>
              <tr>
                <td></td><td></td> <td><input type="submit"  value="Add"></td>
              </tr>
            </table>
        </fieldset>
      </center>
    </form>
</body>
